* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 2500px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.left-top-text {
    text-align: left;
}

.left-top-text p {
    font-size: 14px;
    color: #888;
}

.left-top-text h2 {
    font-size: 25px;
    color: rgb(255, 0, 0);
    margin-top: 5px;
}

